.stock-product-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 20px;
    column-gap: 30px;
}

.stock-product-box {
    flex: 1;
    display: grid;
    border:1px solid #DCDCDC;
    border-radius: 10px;
    padding: 20px 20px 20px 20px;
    width:100%;
}

@media (max-width: 800px) {
    .stock-product-container {
        display: flex;
        row-gap: 30px;
        flex-direction: column;
    }
    .stock-product-box {
        display: flex;
        border:0px;
        padding: 0;
    }
}

@media (max-width: 600px) {
    .stock-products-edit-button-container {
        display: none;
    }
}