.header-container {
    height: 60px;
    flex: 1;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-left: 20px;
    position: sticky;
    top: 0;
    border-bottom: 1px solid #DCDCDC;
    background: #fff;
    z-index: 1;
}

.header-logo-image {
    height: 40px;
    margin-right: 10px;
    display: none;
}

@media (max-width: 1024px) {
    .header-logo-image {
        display: flex;
    }   
}

@media (max-width: 600px) {
    .header-search-form-container {
        display: none;
    }
    .header-container {
        height: 45px;
        justify-content: center;
    }
    .header-logo-image {
        height: 35px;
    }
}