.check-point-container {
    display: flex;
    flex-direction: row;
    align-items: center;
}

@media (max-width: 1024px) {
    .check-point-container {
        flex-direction: column;
        align-items: flex-start;
    }
}