.stock-analysis-indicators-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex: 1;
}

.stock-analysis-indicators-container-line {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex: 1;
    width: 100%;
}

@media (max-width: 1024px) {
    .stock-analysis-indicators-container {
        flex-direction: column;
    }
    .stock-analysis-indicators-vertical-bar {
        display: none;
    }
    .stock-analysis-indicators-spacer {
        min-height: 30px;
    }
}

