.expert-expectations-container {
    display: flex;
    flex-direction: row;
    align-items: center;
}

@media (max-width: 1024px) {
    .expert-expectations-container {
        flex-direction: column;
    }
}