.stock-summary-block-container {
    display: flex;
    flex-direction: row;
    flex: 1;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.stock-summary-block-unit-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex: 1;
    align-items: center;
    justify-content: space-between;
}

@media (max-width: 800px) {
    .stock-summary-block-container {
        flex-direction: column;
    }
    .stock-summary-block-divider {
        display: none;
    }
}