.icon-menu:hover {
    color: rgba(51,51,51,0.8);
}

.icon-menu {
    color: #B9B9B9;
    margin-left: 16px;
}

.icon-menu.on {
    color: #333333;
}

.icon-menu-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 20px;
}

@media (max-width: 1024px) {
    .icon-menu {
        display: none;
    }

    .icon-menu-container {
        margin: 0px;
    }
    
}